<% if flash[:message] %>
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <span><%= flash[:message] %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container mt-5 mb-5 text-center">
  <h1>Choose a Country</h1>

  <div class="dropdown d-flex justify-content-center">
    <form action="/countries/country" method="get">
      <select name="name" class="form-select mt-3 mb-3" style="width: 350px;" aria-label="Default select example">
        <option selected>Countries (You can type)</option>
        <% @countries.each do |country| %>
        <option class="dropdown-item" value="<%= country.name %>"><%= country.name %></option>
        <% end %>
      </select>

      <div class="mb-5 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-sm btn-primary">Find Related Vlogs</button>
      </div>
    </form>
  </div>

  <a href="/">back to main</a>
</div>
