<div id="landing" class="position-absolute top-50 start-50 translate-middle">
  <a href="/signup" class="text-center link-danger">
    <!-- <h1>Hello World!</h1>
    <h1>Here I Come!!!</h1>
    <h1>Enter Here</h1> -->
    <button type="button" class="fw-bolder btn btn-outline-warning btn-lg">Hello World!</button>
  </a>
</div>

<!-- http://junil-hwang.com/blog/css-slide-animation/#section1 -->
<div class="slide">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>